c/PhoneLogDevKit/PhoneLog/SGML/PhoneLog.dtd

<!DOCTYPE PHONELOG [

<!ELEMENT PHONELOG	- O ((ENTRY | MARK)*)>
<!ELEMENT ENTRY		- - (PROGRAM?,HOST,((START,END,PERIOD?) | BUSY | NOANSWER))>

<!ELEMENT HOST		- - (NUMBER,HOSTNAME?,REASON?)>
<!ELEMENT NUMBER	- - CDATA>
<!ELEMENT HOSTNAME	- - CDATA>
<!ELEMENT REASON	- - CDATA>

<!ELEMENT BUSY		- - (DATE,TIME)>
<!ELEMENT NOANSWER	- - (DATE,TIME)>

<!ELEMENT START		- - (DATE,TIME)>
<!ELEMENT END		- - (DATE?,TIME)>
<!ELEMENT DATE		- - CDATA>
<!ELEMENT TIME		- - CDATA>
<!ELEMENT PERIOD	- - CDATA>

<!ELEMENT MARK		- - (PROGRAM,MARKNAME)>
<!ELEMENT PROGRAM	- - CDATA>
<!ELEMENT MARKNAME	- - CDATA>

<!ATTLIST PHONELOG	version		NUMBER	1
			revision	NUMBER	2>
<!ATTLIST PROGRAM	version		NUMBER	1
			revision	NUMBER	0>

]>
